<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaga</title>
    <link rel="stylesheet" type="text/css" href="../../assets/styles/homeStyles.css">
    <link rel="stylesheet" type="text/css" href="vaga.css">
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="menuBtn">
            <img src="../../../imagens/menu.svg">
        </label>
        <a href="vaga.html"><img id="logo" src="../../assets/images/logos_empresa/logo_sias.png"></a> 
        <ul>            
            <li><a href="#">Vagas</a></li>
            <li><a href="#">Pesquisar</a></li>
            <li><a href="#">Cursos</a></li>
            <li><a href="#">Perfil</a></li>
        </ul>
    </nav>
    <div class="divCommon">
        <div class="divTitulo" id="divTituloVaga">
            <h2 id="tituloVaga">Desenvolvedor Back-end Junior</h2>
        </div>
        <div class="container">
            <div class="divInformacoesIniciais">
                <div class="IconeENome">
                    <lord-icon
                        src="https://cdn.lordicon.com/pbbsmkso.json"
                        trigger="loop"
                        state="loop-rotate"
                        colors="primary:#242424,secondary:#c74b16"
                        style="width:34px;height:34px">
                    </lord-icon>
                    <label id="nomeArea">Tecnologia da Informação</label>
                </div>
                <div class="IconeENome">
                    <lord-icon
                        src="https://cdn.lordicon.com/surcxhka.json"
                        trigger="loop"
                        stroke="bold"
                        state="loop-roll"
                        colors="primary:#242424,secondary:#c74b16"
                        style="width:34px;height:34px">
                    </lord-icon>
                    <label id="estado">SP</label>
                    <label>,&nbsp;</label>
                    <label id="cidade">São Paulo</label>
                </div>
                <div class="IconeENome">
                    <lord-icon
                        src="https://cdn.lordicon.com/qvyppzqz.json"
                        trigger="loop"
                        stroke="bold"
                        state="loop-oscillate"
                        colors="primary:#242424,secondary:#c74b16"
                        style="width:34px;height:34px">
                    </lord-icon>
                    <label id="cargaHoraria">De segunda à sexta, das 09:00 às 16:00</label>
                </div>
            </div>
            <div class="divInformacoesPrincipais">
                <div class="divFlex">
                    <div class="detalhesCurtos">
                        <div class="IconeENome">
                            <img src="../../assets/images/icones_regimes/estudanteSemFundo.svg" class="icone">
                            <label id="tipoProfissional">Estágio</label>
                        </div>
                        <div class="IconeENome">
                            <img src="../../assets/images/icones_vaga/iconeADistancia.svg" class="icone">
                            <label id="cargaHoraria">Presencial</label>
                        </div>
                        <div class="IconeENome">
                            <img src="../../assets/images/icones_regimes/estagio.svg" class="icone">
                            <label id="cargaHoraria">Tempo Integral</label>
                        </div>
                        <div class="IconeENome">
                            <img src="../../assets/images/icones_regimes/estagio.svg" class="icone">
                            <label id="cargaHoraria">Nível Médio</label>
                        </div>
                    </div>
                    <div class="detalhesLongos"></div>
                </div>
            </div>            
        </div>
    </div>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
</body>
</html>