<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosso Contato</title>
    <link rel="stylesheet" type="text/css" href="../../assets/styles/homeStyles.css">
    <link rel="stylesheet" type="text/css" href="../../assets/styles/verificacoes.css">
    <link rel="stylesheet" type="text/css" href="../../assets/styles/perfilStyle.css">
    <link rel="stylesheet" type="text/css" href="../../assets/styles/editarStyles.css">
    <link rel="stylesheet" type="text/css" href="../../assets/styles/rodapeStyle.css">
</head>
<body>
    <nav>
        <a href="../../../index.php">
            <img id="logo" src="../../assets/images/logos_empresa/logo_sias.png" alt="Logo da Empresa">
        </a>
        <button class="btnModo"><img src="../../../imagens/moon.svg"></button> 
    </nav>
    <div class="container">
        <div class="content">
            <fieldset id="fieldsetNossoContato">
                <legend><h3>Nosso contato</h3></legend>
                <div class="divContatos">
                    <div class="divFlex">
                        <a class="divFlex" href="#">
                        <img class="imgContato" id="gemail" src="../../assets/images/icones_diversos/gmail.svg">
                        <p class="enderecoContato">sias99029@gmail.com</p>
                        </a>
                    </div>
                    <div class="divFlex">  
                        <a  class= "divFlex" href="tel:+5511962486250">
                        <img class="imgContato" id="zap" src="../../assets/images/icones_diversos/zap.svg">
                        <p class="enderecoContato">+55 11 96248-6250</p>
                    </a>
                    </div>                    
                    <div class="divFlex">     
                        <a class="divFlex" href="https://x.com/SIASOficial">                          
                            <img class="imgContato" id="x" src="../../assets/images/icones_diversos/x.svg">
                            <p class="enderecoContato">siasoficial</p>
                        </a>                        
                    </div>
                </div>
            </fieldset>
        </div>
    </div> 
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <script src="../../../modoNoturno.js"></script>
    <script src="adicionaEstrelas.js"></script>
    <script src="hoverEstrelas.js"></script>
</body>
</html>