<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="PoliticadePrivacidade.css">
    <link rel="stylesheet" type="text/css" href="../../assets/styles/homeStyles.css">
    <link rel="stylesheet" type="text/css" href="../../assets/styles/editarStyles.css">
    <link rel="stylesheet" type="text/css" href="../../assets/styles/perfilStyle.css">
</head>

<body>
    <nav>

        <a href="../HomeRecrutador/homeRecrutador.php"><img id="logo" src="../../assets/images/logos_empresa/logo_sias.png"></a>
        <button class="btnModo"><img src="../../../imagens/moon.svg"></button>
    </nav>

    </div>
    <div class="divCommon">
        <div class="containerPerfil">
            <div class="divTitulo">
                <h2 id="nomeUsuario">Política de Privacidade</h2>
            </div>

            <div class="contentPerfil" id="contentSobre">
                <fieldset>
                    <legend>
                        <h3>SIAS</h3>
                    </legend>

                    <head>
                        <title>Política de Privacidade</title>
                        <link rel="stylesheet" type="text/css" href="styles.css">
                    </head>

                    <body>


                        <article>
                            <p>Na busca por criar um ambiente de trabalho equitativo e acessível, valorizamos a transparência e a proteção dos dados dos nossos usuários. Esta política de privacidade visa informar como coletamos, usamos e protegemos as informações
                                pessoais dos nossos clientes e usuários da plataforma.</p>
                        </article>

                        <article class="vision-mission">
                            <h2>1. Visão e Missão</h2>
                            <p><strong>1.1 Visão:</strong><br>Nosso objetivo é ser reconhecido como o principal canal de empregos que promove a igualdade de oportunidades, permitindo que profissionais de diversas áreas alcancem seu potencial máximo com base
                                em méritos.</p>
                            <p><strong>1.2 Missão:</strong><br>Conectar profissionais talentosos a oportunidades de emprego de forma acessível e meritocrática, oferecendo uma plataforma intuitiva e gratuita que valoriza o conhecimento e habilidades individuais.</p>
                        </article>

                        <article>
                            <h2>2. Apresentação do Cliente</h2>
                            <p>Nosso sistema gerencia vagas de emprego de diferentes regimes, visando facilitar o encontro entre aqueles que buscam uma oportunidade de trabalho e empresas em busca de funcionários qualificados. A correspondência entre habilidades
                                e demandas é realizada de forma objetiva, baseada nos méritos do candidato através de testes oferecidos na plataforma.</p>
                        </article>

                        <article>
                            <h2>3. Descrição do Produto a Ser Desenvolvido</h2>
                            <p>O principal objetivo do nosso projeto é facilitar o processo de recrutamento, visando proporcionar praticidade tanto para os candidatos quanto para o setor de Recursos Humanos das empresas, baseando-se na correspondência das
                                habilidades de ambas as partes e valorizando os méritos do candidato.</p>
                            <p>Com base nesse propósito, nosso objetivo específico é simplificar o processo de cadastro dos candidatos para as vagas desejadas. Pretendemos oferecer um sistema de testes com o intuito de avaliar os candidatos de forma imparcial,
                                sem considerar questões como gênero, idade, entre outros fatores discriminatórios.</p>
                            <p>A concepção deste sistema surge da necessidade de otimizar a busca e candidatura de empregos, visando oferecer uma experiência mais satisfatória aos usuários. Buscamos não apenas agilizar o processo, mas também torná-lo mais
                                agradável e envolvente, proporcionando uma solução diferenciada que atenda plenamente às necessidades e expectativas dos nossos usuários.</p>
                        </article>
                    </body>

</html>

</html>
</fieldset>
</div>

<script src="https://cdn.lordicon.com/lordicon.js"></script>
<script src="acumuloDePontos.js"></script>
<script src="../../../modoNoturno.js"></script>
</body>

</html>