<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
    <link rel="stylesheet" type="text/css" href="../../assets/styles/homeStyles.css">    
    <link rel="stylesheet" type="text/css" href="../../assets/styles/editarStyles.css">
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="menuBtn">
            <img src="../../../imagens/menu.svg">
        </label>
        <a href="../HomeRecrutador/homeRecrutador.php"><img id="logo" src="../../assets/images/logos_empresa/logo_sias.png"></a> 
        <button class="btnModo"><img src="../../../imagens/moon.svg"></button> 
        <ul>            
            <li><a href="../CriarVaga/criarVaga.php">Anunciar</a></li>
            <li><a href="../MinhasVagas/minhasVagas.php">Minhas vagas</a></li>
            <li><a href="../MeusTestes/meusTestes.php">Meus testes</a></li>
            <li><a href="../PerfilRecrutador/perfilRecrutador.php">Perfil</a></li>
        </ul>
    </nav>
    <div class="divCommon">
        <div class="divTituloComBtn" id="divTituloCriacaoVaga">
            <a class="btnVoltar"><img src="../../assets/images/icones_diversos/back.svg"></a>
            <h2>Editar Perfil</h2>
        </div>
        <div class="divEdicaoPerfil">
            <form autocomplete="off">
                <div class="divBackgroundImg">
                    <div class="btnEditarFundo">
                        <lord-icon
                            src="https://cdn.lordicon.com/wuvorxbv.json"
                            trigger="hover"
                            stroke="bold"
                            colors="primary:#f5f5f5,secondary:#f5f5f5"
                            style="width:34px;height:34px">
                        </lord-icon>
                    </div>
                    <div class="divFotoDePerfil">
                        <div class="divIconeEditar">
                            <lord-icon
                                src="https://cdn.lordicon.com/wuvorxbv.json"
                                trigger="hover"
                                stroke="bold"
                                colors="primary:#f5f5f5,secondary:#f5f5f5"
                                style="width:110px;height:110px">
                            </lord-icon>
                        </div>
                    </div>
                </div>
                <div class="divContentPerfil">
                    <div class="divAvisoInicial">                        
                        <small>Há informações podem estar faltando!</small>
                    </div>
                    <div class="inputsLadoALado">
                        <div class="containerInput">
                            <div class="contentInput">
                                <input class="inputAnimado" id="nome" name="nome" type="text" required>
                                <div class="labelLine">Nome da Empresa</div>
                            </div>
                            <small name="aviso"></small>
                        </div>
                        <div class="containerInput">
                            <div class="contentInput">
                                <input class="inputAnimado" id="area" name="area" type="text" list="areaList" required>
                                <div class="labelLine">Área da Empresa</div>
                                <datalist id="areaList">
                                    <option>Tecnologia da Informação</option>
                                    <option>Medicia</option>
                                    <option>Engenharia</option>
                                    <option>Construção Civil</option>
                                    <option>Educação</option>
                                </datalist>
                            </div>
                            <small name="aviso"></small>
                        </div>
                    </div>
                    <div class="inputsLadoALado">
                        <div class="containerInput">
                            <div class="contentInput">
                                <input class="inputAnimado" id="email" name="email" type="text" required>
                                <div class="labelLine">Email</div>
                            </div>
                            <small name="aviso"></small>
                        </div>
                        <div class="containerInput">
                            <div class="contentInput">
                                <input class="inputAnimado" maxlength="15" id="telefone" name="telefone" type="text" required>
                                <div class="labelLine">Telefone</div>
                            </div>
                            <small name="aviso"></small>
                        </div>
                    </div>
                    <div class="divTextArea">                        
                        <div class="containerTextArea">
                            <div class="contentInputTextArea">
                                <textarea class="textAreaAnimada" name="sobre" id="sobre" type="text" required></textarea>
                                <div class="textArealabelLine">Sobre a Empresa</div>
                            </div>
                            <small name="aviso"></small>
                        </div>
                    </div>
                    <div class="divBtnAtualizar">                        
                        <input type="button" value="Atualizar">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <footer>
        <a>Política de Privacidade</a>
        <a>Nosso contato</a>
        <a>Avalie-nos</a>
        <p>SIAS 2024</p>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>    
    <script src="mostraIcone.js"></script>
    <script src="avisoInicial.js"></script>
    <script src="adicionaElementos.js"></script>
    <script src="mascaras.js"></script>
</body>
</html>