<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
    <link rel="stylesheet" type="text/css" href="../../assets/styles/homeStyles.css">    
    <link rel="stylesheet" type="text/css" href="../../assets/styles/editarStyles.css">
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="menuBtn">
            <img src="../../../imagens/menu.svg">
        </label>
        <a href="../HomeCandidato/homeCandidato.html"><img id="logo" src="../../assets/images/logos_empresa/logo_sias.png"></a> 
        <button class="btnModo"><img src="../../../imagens/moon.svg"></button> 
        <ul>            
            <li><a href="../TodasVagas/todasVagas.php">Vagas</a></li>
            <li><a href="../TodosTestes/todosTestes.php">Testes</a></li>
            <li><a href="../Cursos/cursos.php">Cursos</a></li>
            <li><a href="../PerfilCandidato/perfilCandidato.php">Perfil</a></li>
        </ul>
    </nav>
    <div class="divCommon">
        <div class="divTituloComBtn">
            <a class="btnVoltar"><img src="../../assets/images/icones_diversos/back.svg"></a>     
            <h2>Editar Perfil</h2>
        </div>
        <div class="divEdicaoPerfil">
            <form autocomplete="off">
                <div class="divBackgroundImg">
                    <div class="btnEditarFundo">
                        <lord-icon
                            src="https://cdn.lordicon.com/wuvorxbv.json"
                            trigger="hover"
                            stroke="bold"
                            colors="primary:#f5f5f5,secondary:#f5f5f5"
                            style="width:34px;height:34px">
                        </lord-icon>
                    </div>
                    <div class="divFotoDePerfil">
                        <div class="divIconeEditar">
                            <lord-icon
                                src="https://cdn.lordicon.com/wuvorxbv.json"
                                trigger="hover"
                                stroke="bold"
                                colors="primary:#f5f5f5,secondary:#f5f5f5"
                                style="width:110px;height:110px">
                            </lord-icon>
                        </div>
                    </div>
                </div>
                <div class="divContentPerfil">
                    <div class="divAvisoInicial">                        
                        <small>Há informações podem estar faltando!</small>
                    </div>
                    <div class="inputsLadoALado">
                        <div class="containerInput">
                            <div class="contentInput">
                                <input class="inputAnimado" id="nome" name="nome" type="text" required>
                                <div class="labelLine">Nome</div>
                            </div>
                            <small name="aviso"></small>
                        </div>
                        <div class="containerInput">
                            <div class="contentInput">
                                <input class="inputAnimado" id="area" name="area" type="text" list="areaList" required>
                                <div class="labelLine">Área de Atuação</div>
                                <datalist id="areaList">
                                    <option>Tecnologia</option>
                                    <option>Medicia</option>
                                    <option>Engenharia</option>
                                    <option>Economia</option>                                        
                                    <option>Vendas</option>  
                                    <option>Educação</option>                                    
                                    <option>Direito</option>                                                                          
                                    <option>Administração</option>                                                                                                            
                                    <option>Agronegócio</option>                                                                                                                                                  
                                    <option>Gastronomia</option>
                                </datalist>
                            </div>
                            <small name="aviso"></small>
                        </div>
                    </div>     
                    <div class="inputUnico">                                       
                        <div class="containerInput">
                            <div class="contentInput">
                                <input class="inputAnimado" id="breveDescricao" name="breveDescricao" type="text" placeholder="Ex: Desenvolvedor Fullstack | Certificação AWS | Administrador de Rede |" required>
                                <div class="labelLine">Breve descrição</div>
                            </div>
                            <small name="aviso"></small>
                        </div>
                    </div>
                    <div class="inputsLadoALado">
                        <div class="containerInput">
                            <div class="contentInput">
                                <input class="inputAnimado" id="email" name="email" type="text" required>
                                <div class="labelLine">Email</div>
                            </div>
                            <small name="aviso"></small>
                        </div>
                        <div class="containerInput">
                            <div class="contentInput">
                                <input class="inputAnimado" maxlength="15" id="telefone" name="telefone" type="text" required>
                                <div class="labelLine">Telefone</div>
                            </div>
                            <small name="aviso"></small>
                        </div>
                    </div>
                    <div class="inputsLadoALado">
                        <div class="containerInput">
                            <div class="contentInput">
                                <input class="inputAnimado" maxlength="10" id="data" name="data" type="text" required>
                                <div class="labelLine">Data de Nascimento</div>
                            </div>
                            <small name="aviso"></small>
                        </div>
                        <div class="containerInput">
                            <div class="contentInput">
                                <input class="inputAnimado" id="genero" name="genero" type="text" list="generoList" required>
                                <div class="labelLine">Gênero</div>
                                <datalist id="generoList">
                                    <option>Homem Cisgênero</option>
                                    <option>Mulher Cisgênero</option>
                                    <option>Homem Transgênero</option>
                                    <option>Mulher Transgênero</option>
                                    <option>Não Binário</option>
                                    <option>Agênero</option>
                                </datalist>
                            </div>
                            <small name="aviso"></small>
                        </div>
                    </div>
                    <div class="inputsLadoALado">
                        <div class="containerInput">
                            <div class="contentInput">
                                <input class="inputAnimado" id="estado" name="estado" type="text" required>
                                <div class="labelLine">Estado</div>
                            </div>
                            <small name="aviso"></small>
                        </div>
                        <div class="containerInput">
                            <div class="contentInput">
                                <input class="inputAnimado" id="cidade" name="cidade" type="text" required>
                                <div class="labelLine">Cidade</div>
                            </div>
                            <small name="aviso"></small>
                        </div>
                    </div>
                    <div class="divCheckBox">
                        <input type="checkbox" id="pcd">
                        <label for="pcd">Pessoa com Deficiência</label>
                    </div>
                    <div class="divTextArea" id="divTextAreaCandidato">                        
                        <div class="containerTextArea">
                            <div class="contentInputTextArea">
                                <textarea class="textAreaAnimada" name="sobre" id="sobre" type="text" required></textarea>
                                <div class="textArealabelLine">Sobre Mim</div>
                            </div>
                            <small name="aviso"></small>
                        </div>
                    </div>
                    <div class="divElementos">  
                        
                        <div class="divAdiconaElementos">
                            <h2>Habilidades e Tecnologias</h2> 
                            <div class="divTextArea">                        
                                <div class="containerTextArea">
                                    <div class="contentInputTextArea">
                                        <textarea class="textAreaAnimada" name="habilidades" id="habilidades" type="text" required></textarea>
                                        <div class="textArealabelLine">Adicionar</div>
                                    </div>
                                    <small name="aviso"></small>
                                </div>
                            </div>
                        </div>
                        <div class="divAdiconaElementos">
                            <h2>Cursos e Formações</h2> 
                            <div class="divTextArea">                        
                                <div class="containerTextArea">
                                    <div class="contentInputTextArea">
                                        <textarea class="textAreaAnimada" name="cursos" id="cursos" type="text" required></textarea>
                                        <div class="textArealabelLine">Adicionar</div>
                                    </div>
                                    <small name="aviso"></small>
                                </div>
                            </div>
                        </div>
                        <div class="divAdiconaElementos">
                            <h2>Experiências de Trabalho</h2> 
                            <div class="divTextArea">                        
                                <div class="containerTextArea">
                                    <div class="contentInputTextArea">
                                        <textarea class="textAreaAnimada" name="experiencias" id="experiencias" type="text" required></textarea>
                                        <div class="textArealabelLine">Adicionar</div>
                                    </div>
                                    <small name="aviso"></small>
                                </div>
                            </div>
                        </div>

                        <!--
                        <div class="divAdiconaElementos">                            
                            <h2>Habilidades e Tecnologias</h2>     
                            <div class="divTituloAddElementos">                   
                                <input class="inputSimples" id="habilidade" name="habilidade" type="text" placeholder="Ex: Manutenção de Computadores" required>
                                <div class="btnAdicionarElemento" id="adicionaHabilidade">
                                    <lord-icon
                                        src="https://cdn.lordicon.com/zrkkrrpl.json"
                                        trigger="hover"
                                        stroke="bold"
                                        state="hover-rotation"
                                        colors="primary:#000000,secondary:#000000"
                                        style="width:36px;height:36px">
                                    </lord-icon>
                                </div>
                            </div>                            
                            <small name="aviso" id="avisoHabilidades"></small>
                            <ul class="elementosAdicionados" id="habilidadesAdicionadas"> 
                            </ul>
                        </div>
                        --> 

                        <!--<div class="divAdiconaElementos">
                            <h2>Cursos e Formações</h2> 
                            <div class="divTituloAddElementos">                       
                                <input class="inputSimples" id="curso" name="curso" type="text" placeholder="Ex: Design de Interiores" required>
                                <div class="btnAdicionarElemento" id="adicionaCurso">
                                    <lord-icon
                                        src="https://cdn.lordicon.com/zrkkrrpl.json"
                                        trigger="hover"
                                        stroke="bold"
                                        state="hover-rotation"
                                        colors="primary:#000000,secondary:#000000"
                                        style="width:36px;height:36px">
                                    </lord-icon>
                                </div>
                            </div>     
                            <small name="aviso" id="avisoCursos"></small>
                            <ul class="elementosAdicionados" id="cursosAdicionados">
                            </ul>
                        </div-->

                        <!--<div class="divAdiconaElementos">
                            <h2>Experiências de Trabalho</h2> 
                            <div class="divTituloAddElementos">                       
                                <input class="inputSimples" id="experiencia" name="experiencia" type="text" placeholder="Ex: Atendente de Telemarketing" required>
                                <div class="btnAdicionarElemento" id="adicionaExperiencia">
                                    <lord-icon
                                        src="https://cdn.lordicon.com/zrkkrrpl.json"
                                        trigger="hover"
                                        stroke="bold"
                                        state="hover-rotation"
                                        colors="primary:#000000,secondary:#000000"
                                        style="width:36px;height:36px">
                                    </lord-icon>
                                </div>
                            </div>     
                            <small name="aviso" id="avisoExperiencias"></small>
                            <ul class="elementosAdicionados" id="experienciasAdicionadas">
                            </ul>
                        </div>-->
                    </div>
                    <div class="divBtnAtualizar">                        
                        <input type="button" value="Atualizar">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <footer>
        <a>Política de Privacidade</a>
        <a>Nosso contato</a>
        <a>Avalie-nos</a>
        <p>SIAS 2024</p>
    </footer>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>    
    <script src="mostraIcone.js"></script>
    <script src="avisoInicial.js"></script>
    <script src="adicionaElementos.js"></script>
    <script src="mascaras.js"></script>
</body>
</html>