
/* ------------------------- Header -------------------------*/

:root{
    --laranja: #EC6809;
    --laranjaClaro: #ee8840;
    --laranjaEscuro: #a04809;
    -webkit-tap-highlight-color: transparent;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

body{
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
}

nav{
    background-color: var(--laranja);
    height: 64px;
    box-shadow: 0 0 6px 1px var(--laranjaEscuro);
    position: relative;
}

nav #logo{
    color: whitesmoke;
    font-size: 22pt;
    line-height: 64px;
}

nav ul{
    float: right;
    margin-right: 30px;
}

nav ul li{
    display: inline-block;
    line-height: 64px;
}

nav ul li a{
    color: whitesmoke;
    font-size: 10pt;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
}

nav ul li a:hover{
    background: var(--laranjaClaro);
    transition: 0.2s;
}

.menuBtn{
    float: right;
    line-height: 64px;
    cursor: pointer;
}

#check, .menuBtn{
    display: none;
}

@media(min-width:700px){
    nav #logo{
        padding-left: 50px;
    }
}

@media (max-width: 700px){
    nav #logo{
        padding-left: 24px;
    }
    .menuBtn{
        padding-right: 24px;
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--laranjaEscuro);
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 10px 0;
    }
    nav ul li a{
        font-size: 12pt;
    }
    nav ul li a:hover{
        color: var(--laranjaClaro);
        background-color: var(--laranjaEscuro);
        transition: 0.2s;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

/* ------------------------- Title -------------------------*/

.title{
    background-color: var(--laranja);
    padding: 30px;
    text-align: center;
    color: whitesmoke;
}

.title h1{
    font-size: 44pt;
}

.title p{
    margin-top: 10px;
}

.title input[type=button]{
    margin-top: 20px;
    color: whitesmoke;
    background-color: black;
    padding: 10px 20px;
    border: 1px solid black;
    font-size: 12pt;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s ease;
}

.title input[type=button]:hover{
    color: black;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    transition: 0.2s;
}

.title i{
    margin-left: 6px;
    width: 6px;
    height: 60px;
    background-color: whitesmoke;
    -webkit-animation: blinking 2s infinite;
    animation: blinking 1s infinite;
}
  
  @keyframes blinking {
    0% {
        background-color: transparent;
    }
    49% {
        background-color: transparent
    }
    50% {
        background-color: whitesmoke;
    }
  }

  /* ------------------------- Carrosel -------------------------*/

.carouselBox{
    display: flex;
    align-items: center;
    height: 200px;
    width: auto;
    overflow: hidden;
}

.btnLeftSlider, .btnRightSlider{
    color: silver;
    border: solid 1px silver;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20pt;
    font-weight: bold;
    cursor: pointer;
    margin-top: 70px;
}

.btnLeftSlider:hover, .btnRightSlider:hover{
    transition: 0.2s;
    color: #1C1C1C;
    border: solid 1px #1C1C1C;
}

.btnLeftSlider{
    float: left;
}

.btnRightSlider{
    float: right;
}

  /* ------------------------- Anúncios -------------------------*/

.anuncios{
    padding: 10px;
    margin: 20px 0px 30px 0px;
}

.anuncios h2{
    font-size: 24pt;
    margin-bottom: 10px;
    text-align: center;
}

.postLink{
    margin: 0 10px;
    cursor: pointer;
    transition: 0.5s ease;
}

.postLink:hover{
    transform: scale(1.04);
    transition: 0.2s;
}

  
/* ------------------------- Post -------------------------*/

.post{
    border: 1px solid silver;
    border-radius: 10px;
    width: 250px;
    height: 160px;
    box-shadow: 4px 4px 4px silver;
    padding: 8px;
    position: relative;
}

.post section{
    margin-top: 20px;
}

.tipoVaga{
    font-size: 14pt;
    margin-left: 4px;
}

.empresaVaga{
    margin-top: 4px;
}

.statusVaga, .dataVaga{
    padding: 8px;
}

.statusVaga{
    position: absolute;
    bottom: 0;
    font-weight: bold;
    left: 0;
}

.dataVaga{
    position: absolute;
    bottom: 0;
    right: 0;
}

/* ------------------------- Testes -------------------------*/

.testes{
    padding: 40px;
    margin-bottom: 30px;
}

.testes h2{
    font-size: 24pt;
    margin-bottom: 6px;
}

.testes input[type=button]{
    color: whitesmoke;
    background-color: black;
    padding: 10px 30px;
    border: 1px solid black;
    font-size: 12pt;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s ease;
}

.testes input[type=button]:hover{
    color: black;
    background-color: whitesmoke;
    border: 1px solid black;
    transition: 0.2s;
}

.gridTestes{
    margin: 20px 0;
    display: grid;
    grid-template-columns: 550px 550px;
}

.testeLink{
    cursor: pointer;
    transition: 0.5s ease;
    margin: 20px 0px;
}

.testeLink:hover{
    transform: scale(1.04);
    transition: 0.2s;
}

/* ------------------------- post do Teste -------------------------*/

.teste{
    position: relative;
    border: 1px solid silver;
    padding: 6px;
    display: flex;
    width: 500px;
    box-shadow: 4px 4px 4px silver;
}

.nomeTeste{
    font-weight: bold;
}

.autorTeste{
    color: gray;
}

.divAcessos{
    padding: 4px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
}

.qntdAcessos{
    margin: 4px;
}