/* ------------------------- Header -------------------------*/

:root{
    --laranja: #EC6809;
    --laranjaClaro: #ee8840;
    --laranjaEscuro: #a04809;
    -webkit-tap-highlight-color: transparent;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

body{
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    transition: 0.5s;
}

nav{
    background-color: var(--laranja);
    height: 64px;
    box-shadow: 0 0 6px 1px var(--laranjaEscuro);
    position: relative;
}

nav #logo{
    color: whitesmoke;
    font-size: 22pt;
    line-height: 64px;
}

nav ul{
    float: right;
    margin-right: 10px;
}

nav ul li{
    display: inline-block;
    line-height: 64px;
}

nav ul li a{
    color: whitesmoke;
    font-size: 10pt;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
    transition: 0.5s;
}

nav ul li a:hover{
    background: var(--laranjaClaro);
    transition: 0.2s;
}

.btnModo{
    cursor: pointer;
    line-height: 64px;
    float: right;
    background: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 12px 0px 0px;
    border-radius: 20px;
    border: none;
}

.btnModo:hover{
    border: none;
    background: transparent;
    box-shadow: 0px 0px 8px var(--laranjaEscuro);
}

.menuBtn{
    float: right;
    line-height: 64px;
    cursor: pointer;
}

#check, .menuBtn{
    display: none;
}

@media(min-width:700px){
    nav #logo{
        padding-left: 50px;
    }
}

@media (max-width: 700px){
    nav #logo{
        padding-left: 24px;
    }
    .menuBtn{
        padding-right: 24px;
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--laranjaEscuro);
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 10px 0;
    }
    nav ul li a{
        font-size: 12pt;
    }
    nav ul li a:hover{
        color: var(--laranjaClaro);
        background-color: var(--laranjaEscuro);
        transition: 0.2s;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

/* ------------------------- Article -------------------------*/

article h2{
    margin: 20px 0px 30px 0px;
    text-align: center;
    font-size: 24pt;
}

.divFlexBox{
    display: flex;
    justify-content: center;
}

.inputsLadoALado{
    display: flex;
}

/* ------------------------- INPUTS ANIMADOS -------------------------*/

.containerInput{
    margin: 0px 14px 28px 14px;
}

.contentInput{
    display: flex;
    align-items: center;
    position: relative;
}

.inputAnimado{
    width: 300px;
    border: 1px solid grey;
    padding: 6px 10px;
    border-radius: 8px;
    outline: none;
    font-size: 12pt;
    transition: 0.2s ease;
    background: transparent;    
    z-index: 1111;
}

.inputAnimado::placeholder{
    opacity: 0;
}

.inputAnimado:focus::placeholder{
    opacity: 1;
}

.labelLine{
    position: absolute;
    transition: 0.2s ease;
    margin: 0px 11px;
    color: grey;
    background-color: whitesmoke;
    font-size: 12pt;
}

.inputAnimado:focus,
.inputAnimado:valid{
    border: 1px solid var(--laranja);
}

.inputAnimado:focus +.labelLine,
.inputAnimado:valid +.labelLine{
    transform: translate(-4px,-17px) scale(0.84);
    padding: 0 6px;
    color: var(--laranja);
    z-index: 1111;
}

.containerInput small{
    display: flex;
    margin-left: 11px;
    color: red;
}

/* ------------------------- TEXTAREA ANIMADA -------------------------*/

.contentInputTextArea{
    display: flex;
    position: relative;
}

.textAreaAnimada{
    width: 628px;
    height: 100px;
    border: 1px solid grey;
    padding: 6px 10px;
    border-radius: 8px;
    outline: none;
    font-size: 12pt;
    transition: 0.2s ease;
    background: transparent;    
    z-index: 1111;
    resize: none;
}

.textArealabelLine{
    position: absolute;
    transition: 0.2s ease;
    margin: 8px 11px;
    color: grey;
    background-color: whitesmoke;
    font-size: 12pt;
}

.textAreaAnimada:focus,
.textAreaAnimada:valid{
    border: 1px solid var(--laranja);
}

.textAreaAnimada:focus +.textArealabelLine,
.textAreaAnimada:valid +.textArealabelLine{
    transform: translate(-6px,-17px) scale(0.84);
    padding: 0 6px;
    color: var(--laranja);
    z-index: 1111;
}

/* ------------------------- DIV DA DIREITA -------------------------*/

.divDireita{
    display: flex;
}

.divDireita .textAreaAnimada{
    width: 260px;
    height: 280px;
}

/* ------------------------- RADIOS -------------------------*/

.divRadios{
    display: flex;
    justify-content: center;
}

.divRadiosContent{
    margin: 0px 30px;
}

.divRadios h3{
    margin-bottom: 20px;
}

input[type="radio"]{
    display: none;
}

.btnRadio{
    margin-right: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 18px;
    box-shadow: 0px 0px 8px silver;
    transition: 0.4s;
}

.btnRadio:hover{
    box-shadow: 0px 0px 12px gray;
}

/* ------------------------- Button Salvar -------------------------*/

.divSalvar{
    margin: 50px 0px;
    text-align: center;
}

.btnSalvar{
    cursor: pointer;
    border: 1px solid black;
    font-size: 14pt;
    width: 200px;
    height: 40px;
    background-color: black;
    color: whitesmoke;
    border-radius: 14px;
    transition: 0.5s;
}

.btnSalvar:hover{
    transform: scale(1.1);
}