<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vagas</title>
    <link rel="stylesheet" type="text/css" href="../../assets/styles/homeStyles.css">
    <link rel="stylesheet" type="text/css" href="todasVagas.css">
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="menuBtn">
            <img src="../../../imagens/menu.svg">
        </label>
        <a href="../HomeCandidato/homeCandidato.html"><img id="logo" src="../../assets/images/logos_empresa/logo_sias.png"></a> 
        <button class="btnModo"><img src="../../../imagens/moon.svg"></button> 
        <ul>            
            <li><a href="#">Vagas</a></li>
            <li><a href="#">Testes</a></li>
            <li><a href="#">Cursos</a></li>
            <li><a href="../PerfilCandidato/perfilCandidato.html">Perfil</a></li>
        </ul>
    </nav>
    <div class="divCommon">
        <div class="divTituloComBtn">            
            <a class="btnVoltar"><img src="../../assets/images/icones_diversos/back.svg"></a>     
            <h2>Vagas</h2>
        </div>
        <div class="container">
            <div class="divGridVagas">
                <a class="postLink">
                    <article class="post">
                        <header>
                            <img src="../../../imagens/estagio.svg">
                            <label class="tipoVaga">Estágio</label>
                        </header>
                        <section>
                            <h3 class="nomeVaga">Analista de Suporte</h3>
                            <p class="empresaVaga">Microsoft</p>
                        </section>
                        <label class="statusVaga" style="color: green;">Aberta</label>
                        <label class="dataVaga">10/03/2024</label>
                    </article>
                </a>
                <a class="postLink">
                    <article class="post">
                        <header>
                            <img src="../../../imagens/estagio.svg">
                            <label class="tipoVaga">Estágio</label>
                        </header>
                        <section>
                            <h3 class="nomeVaga">Analista de Suporte</h3>
                            <p class="empresaVaga">Microsoft</p>
                        </section>
                        <label class="statusVaga" style="color: green;">Aberta</label>
                        <label class="dataVaga">10/03/2024</label>
                    </article>
                </a>
                <a class="postLink">
                    <article class="post">
                        <header>
                            <img src="../../../imagens/estagio.svg">
                            <label class="tipoVaga">Estágio</label>
                        </header>
                        <section>
                            <h3 class="nomeVaga">Analista de Suporte</h3>
                            <p class="empresaVaga">Microsoft</p>
                        </section>
                        <label class="statusVaga" style="color: green;">Aberta</label>
                        <label class="dataVaga">10/03/2024</label>
                    </article>
                </a>
                <a class="postLink">
                    <article class="post">
                        <header>
                            <img src="../../../imagens/estagio.svg">
                            <label class="tipoVaga">Estágio</label>
                        </header>
                        <section>
                            <h3 class="nomeVaga">Analista de Suporte</h3>
                            <p class="empresaVaga">Microsoft</p>
                        </section>
                        <label class="statusVaga" style="color: green;">Aberta</label>
                        <label class="dataVaga">10/03/2024</label>
                    </article>
                </a>
                <a class="postLink">
                    <article class="post">
                        <header>
                            <img src="../../../imagens/estagio.svg">
                            <label class="tipoVaga">Estágio</label>
                        </header>
                        <section>
                            <h3 class="nomeVaga">Analista de Suporte</h3>
                            <p class="empresaVaga">Microsoft</p>
                        </section>
                        <label class="statusVaga" style="color: green;">Aberta</label>
                        <label class="dataVaga">10/03/2024</label>
                    </article>
                </a>
                <a class="postLink">
                    <article class="post">
                        <header>
                            <img src="../../../imagens/estagio.svg">
                            <label class="tipoVaga">Estágio</label>
                        </header>
                        <section>
                            <h3 class="nomeVaga">Analista de Suporte</h3>
                            <p class="empresaVaga">Microsoft</p>
                        </section>
                        <label class="statusVaga" style="color: green;">Aberta</label>
                        <label class="dataVaga">10/03/2024</label>
                    </article>
                </a>
                <a class="postLink">
                    <article class="post">
                        <header>
                            <img src="../../../imagens/estagio.svg">
                            <label class="tipoVaga">Estágio</label>
                        </header>
                        <section>
                            <h3 class="nomeVaga">Analista de Suporte</h3>
                            <p class="empresaVaga">Microsoft</p>
                        </section>
                        <label class="statusVaga" style="color: green;">Aberta</label>
                        <label class="dataVaga">10/03/2024</label>
                    </article>
                </a>
                <a class="postLink">
                    <article class="post">
                        <header>
                            <img src="../../../imagens/estagio.svg">
                            <label class="tipoVaga">Estágio</label>
                        </header>
                        <section>
                            <h3 class="nomeVaga">Analista de Suporte</h3>
                            <p class="empresaVaga">Microsoft</p>
                        </section>
                        <label class="statusVaga" style="color: green;">Aberta</label>
                        <label class="dataVaga">10/03/2024</label>
                    </article>
                </a>
                <a class="postLink">
                    <article class="post">
                        <header>
                            <img src="../../../imagens/estagio.svg">
                            <label class="tipoVaga">Estágio</label>
                        </header>
                        <section>
                            <h3 class="nomeVaga">Analista de Suporte</h3>
                            <p class="empresaVaga">Microsoft</p>
                        </section>
                        <label class="statusVaga" style="color: green;">Aberta</label>
                        <label class="dataVaga">10/03/2024</label>
                    </article>
                </a>
                <a class="postLink">
                    <article class="post">
                        <header>
                            <img src="../../../imagens/estagio.svg">
                            <label class="tipoVaga">Estágio</label>
                        </header>
                        <section>
                            <h3 class="nomeVaga">Analista de Suporte</h3>
                            <p class="empresaVaga">Microsoft</p>
                        </section>
                        <label class="statusVaga" style="color: green;">Aberta</label>
                        <label class="dataVaga">10/03/2024</label>
                    </article>
                </a>
                <a class="postLink">
                    <article class="post">
                        <header>
                            <img src="../../../imagens/estagio.svg">
                            <label class="tipoVaga">Estágio</label>
                        </header>
                        <section>
                            <h3 class="nomeVaga">Analista de Suporte</h3>
                            <p class="empresaVaga">Microsoft</p>
                        </section>
                        <label class="statusVaga" style="color: green;">Aberta</label>
                        <label class="dataVaga">10/03/2024</label>
                    </article>
                </a>
                <a class="postLink">
                    <article class="post">
                        <header>
                            <img src="../../../imagens/estagio.svg">
                            <label class="tipoVaga">Estágio</label>
                        </header>
                        <section>
                            <h3 class="nomeVaga">Analista de Suporte</h3>
                            <p class="empresaVaga">Microsoft</p>
                        </section>
                        <label class="statusVaga" style="color: green;">Aberta</label>
                        <label class="dataVaga">10/03/2024</label>
                    </article>
                </a>
                <a class="postLink">
                    <article class="post">
                        <header>
                            <img src="../../../imagens/estagio.svg">
                            <label class="tipoVaga">Estágio</label>
                        </header>
                        <section>
                            <h3 class="nomeVaga">Analista de Suporte</h3>
                            <p class="empresaVaga">Microsoft</p>
                        </section>
                        <label class="statusVaga" style="color: green;">Aberta</label>
                        <label class="dataVaga">10/03/2024</label>
                    </article>
                </a>
                <a class="postLink">
                    <article class="post">
                        <header>
                            <img src="../../../imagens/estagio.svg">
                            <label class="tipoVaga">Estágio</label>
                        </header>
                        <section>
                            <h3 class="nomeVaga">Analista de Suporte</h3>
                            <p class="empresaVaga">Microsoft</p>
                        </section>
                        <label class="statusVaga" style="color: green;">Aberta</label>
                        <label class="dataVaga">10/03/2024</label>
                    </article>
                </a>
            </div>
        </div>
    </div>
    <footer>
        <a>Política de Privacidade</a>
        <a>Nosso contato</a>
        <a>Avalie-nos</a>
        <p>SIAS 2024</p>
    </footer>
</body>
</html>