.divGridVagas{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
}

.postLink{
    margin-bottom: 80px;
}

/* ------------------------- Pesquisar -------------------------*/

.divPesquisa{
    width: 500px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.divFlexInput{
    display: flex;
    height: 50px;
}

.inputPesquisa{
    width: 100%;
    font-size: 16pt;
    padding: 8px;
    border-radius: 10px;
    background:none;
    border: 1px solid gray;
    transition: 0.2s ease;
    outline: 0;
}

.inputPesquisa:focus{    
    border: 1px solid black;
}

.searchButton{
    margin-left: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------------------- Filtros -------------------------*/

.containerFiltros{
    margin-top: 30px;
}

#divMostraFiltros h3{
    font-size: 20pt;
    cursor: pointer;
}

.contentFiltro{
    margin-bottom: 30px;
}

.nomeFiltro{
    font-size: 14pt;
    margin-right: 10px;
}

.checkBoxTipo{
    display: none;
}

.btnCheckBox{
    margin-right: 14px;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 8px;
    border: 1px solid gray;
    transition: 0.4s ease;
}

.btnCheckBox:hover{
    border: 1px solid black;
}

#flexContent{
    display: flex;
    align-items: center;
}

#flexContent .nomeFiltro{
    cursor: pointer;
}

#apenasVagasAbertas{
    min-height: 20px;
    min-width: 20px;
    cursor: pointer;
    margin-left: 4px;
}

.selectArea{
    background: none;
    font-size: 12pt;
    width: 150px;
    padding: 4px;
    border-radius: 8px;
    outline: 0;
    border: 1px solid gray;
    transition: 0.4s ease;
    cursor: pointer;
}

.selectArea:hover{
    border: 1px solid black;
}
