<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../../assets/styles/homeStyles.css">
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="menuBtn">
            <img src="../../../imagens/menu.svg">
        </label>
        <a href="homeCandidato.html"><img id="logo" src="../../assets/images/logos_empresa/logo_sias.png"></a> 
        <button class="btnModo"><img src="../../../imagens/moon.svg"></button> 
        <ul>            
            <li><a href="../TodasVagas/todasVagas.html">Vagas</a></li>
            <li><a href="#">Testes</a></li>
            <li><a href="#">Cursos</a></li>
            <li><a href="../PerfilCandidato/perfilCandidato.html">Perfil</a></li>
        </ul>
    </nav>
    <div class="divTitle">
        <div class="divCentraliza">
            <div>
                <div class="divTituloDigitavel">
                    <h1 id="tituloAutomatico">B</h1>
                    <i></i>
                </div>
                <p>Encontre vagas que combinam com você!<br>Clique e explore as oportunidades.</p>
                <button onclick="location.href=''">Ver todas as vagas</button>
            </div>
        </div>
    </div>
    <div class="divCarrossel">
        <div class="divTitulo">
            <h2>Minhas vagas</h2>
        </div>
        <div class="container">
            <a class="btnLeftSlider" id="leftMinhasVagas"><</a>
            <a class="btnRightSlider" id="rightMinhasVagas">></a> 
            <div class="carrosselBox" id="minhasVagas">
                <a class="postLink" href="../Vaga/vaga.html">
                    <article class="post">
                        <header>
                            <img src="../../../imagens/estagio.svg">
                            <label class="tipoVaga">Estágio</label>
                        </header>
                        <section>
                            <h3 class="nomeVaga">Analista de Suporte</h3>
                            <p class="empresaVaga">Microsoft</p>
                        </section>
                        <label class="statusVaga" style="color:royalblue;">Em processo</label>
                        <label class="dataVaga">10/03/2024</label>
                    </article>
                </a>
                <a class="postLink">
                    <article class="post">
                        <header>
                            <img src="../../../imagens/clt.svg">
                            <label class="tipoVaga">CLT</label>
                        </header>
                        <section>
                            <h3 class="nomeVaga">Analista de Suporte</h3>
                            <p class="empresaVaga">Microsoft</p>
                        </section>
                        <label class="statusVaga" style="color:royalblue;">Em processo</label>
                        <label class="dataVaga">10/03/2024</label>
                    </article>
                </a>
                <a class="postLink">
                    <article class="post">
                        <header>
                            <img src="../../../imagens/pj.svg">
                            <label class="tipoVaga">PJ</label>
                        </header>
                        <section>
                            <h3 class="nomeVaga">Analista de Suporte</h3>
                            <p class="empresaVaga">Microsoft</p>
                        </section>
                        <label class="statusVaga" style="color:royalblue;">Em processo</label>
                        <label class="dataVaga">10/03/2024</label>
                    </article>
                </a>
            </div>                
        </div>
    </div>
    <div class="divCarrossel">
        <div class="divTitulo">
            <h2>Últimos anúncios</h2>
        </div>
        <div class="container">
            <a class="btnLeftSlider" id="leftUltimosAnuncios"><</a>
            <a class="btnRightSlider" id="rightUltimosAnuncios">></a> 
            <div class="carrosselBox" id="ultimosAnuncios">
                <a class="postLink">
                    <article class="post">
                        <header>
                            <img src="../../../imagens/estagio.svg">
                            <label class="tipoVaga">Estágio</label>
                        </header>
                        <section>
                            <h3 class="nomeVaga">Analista de Suporte</h3>
                            <p class="empresaVaga">Microsoft</p>
                        </section>
                        <label class="statusVaga" style="color: green;">Aberta</label>
                        <label class="dataVaga">10/03/2024</label>
                    </article>
                </a>
                <a class="postLink">
                    <article class="post">
                        <header>
                            <img src="../../../imagens/clt.svg">
                            <label class="tipoVaga">CLT</label>
                        </header>
                        <section>
                            <h3 class="nomeVaga">Analista de Suporte</h3>
                            <p class="empresaVaga">Microsoft</p>
                        </section>
                        <label class="statusVaga" style="color: green;">Aberta</label>
                        <label class="dataVaga">10/03/2024</label>
                    </article>
                </a>
                <a class="postLink">
                    <article class="post">
                        <header>
                            <img src="../../../imagens/pj.svg">
                            <label class="tipoVaga">PJ</label>
                        </header>
                        <section>
                            <h3 class="nomeVaga">Analista de Suporte</h3>
                            <p class="empresaVaga">Microsoft</p>
                        </section>
                        <label class="statusVaga" style="color: green;">Aberta</label>
                        <label class="dataVaga">10/03/2024</label>
                    </article>
                </a>
            </div>    
        </div>
    </div>
    <div class="divCarrossel">
        <div class="divTitulo">
            <h2>Testes de Habilidades</h2>
            <p>Realize testes para ganhar pontos e se destacar em processos seletivos!</p>
        </div>
        <div class="container">
            <a class="btnLeftSlider" id="leftTestes"><</a>
            <a class="btnRightSlider" id="rightTestes">></a> 
            <div class="carrosselBox" id="carrosselTestes">
                <a class="testeCarrosselLink" href="../PreparaTeste/preparaTeste.html">
                    <article class="testeCarrossel">
                        <div class="divAcessos">
                            <img src="../../../imagens/people.svg"></img>
                            <small class="qntdAcessos">800</small>
                        </div>
                        <img src="../../../imagens/excel.svg"></img>
                        <div class="divDetalhesTeste">
                            <div>                                
                                <p class="nomeTeste">Excel Básico</p>
                                <small class="autorTeste">Por Jefferson Evangelista</small><br>
                                <small class="competenciasTeste">Estágio, TI, Administração, Negócios</small>
                            </div>
                        </div>
                    </article>
                </a>
                <a class="testeCarrosselLink">
                    <article class="testeCarrossel">
                        <div class="divAcessos">
                            <img src="../../../imagens/people.svg"></img>
                            <small class="qntdAcessos">800</small>
                        </div>
                        <img src="../../../imagens/figma.svg"></img>
                        <div class="divDetalhesTeste">
                            <div>                                
                                <p class="nomeTeste">Figma Intermediário</p>
                                <small class="autorTeste">Por Jefferson Evangelista</small><br>
                                <small class="competenciasTeste">Estágio, TI, Administração, Negócios</small>
                            </div>
                        </div>
                    </article>
                </a>
                <a class="testeCarrosselLink">
                    <article class="testeCarrossel">
                        <div class="divAcessos">
                            <img src="../../../imagens/people.svg"></img>
                            <small class="qntdAcessos">800</small>
                        </div>
                        <img src="../../../imagens/word.svg"></img>
                        <div class="divDetalhesTeste">
                            <div>                                
                                <p class="nomeTeste">Word Avançado</p>
                                <small class="autorTeste">Por Jefferson Evangelista</small><br>
                                <small class="competenciasTeste">Estágio, TI, Administração, Negócios</small>
                            </div>
                        </div>
                    </article>
                </a>
                <a class="testeCarrosselLink">
                    <article class="testeCarrossel">
                        <div class="divAcessos">
                            <img src="../../../imagens/people.svg"></img>
                            <small class="qntdAcessos">800</small>
                        </div>
                        <img src="../../../imagens/python.svg"></img>
                        <div class="divDetalhesTeste">
                            <div>                                
                                <p class="nomeTeste">Python Básico</p>
                                <small class="autorTeste">Por Jefferson Evangelista</small><br>
                                <small class="competenciasTeste">Estágio, TI, Administração, Negócios</small>
                            </div>
                        </div>
                    </article>
                </a>
            </div>      
            <div class="divBtnVerMais">
                <a href="src/views/Login/login.html" class="btnVerMais"><button>Ver mais</button></a>
            </div>       
        </div> 
    </div>
    <div class="divCommon">
        <div class="divTitulo">
            <h2>Nossos Parceiros</h2>
        </div>
        <div class="container">
            <div class="carrosselInfinito">
                <div class="trilhaCarrossel">
                    <div class="slide">
                        <img src="../../../imagens/mysql.svg">
                    </div>
                    <div class="slide">
                        <img src="../../../imagens/php.svg">
                    </div>
                    <div class="slide">
                        <img src="../../../imagens/firebase.svg">
                    </div>
                    <div class="slide">
                        <img class="logoFatec" src="../../../imagens/fatec.png">
                    </div>
                    <div class="slide">
                        <img src="../../../imagens/javascript.svg">
                    </div>
                    <div class="slide">
                        <img src="../../../imagens/html.svg">
                    </div>
                    <div class="slide">
                        <img src="../../../imagens/css.svg">
                    </div>
                    
        
                    <div class="slide">
                        <img src="../../../imagens/mysql.svg">
                    </div>
                    <div class="slide">
                        <img src="../../../imagens/php.svg">
                    </div>
                    <div class="slide">
                        <img src="../../../imagens/firebase.svg">
                    </div>
                    <div class="slide">
                        <img class="logoFatec" src="../../../imagens/fatec.png">
                    </div>
                    <div class="slide">
                        <img src="../../../imagens/javascript.svg">
                    </div>
                    <div class="slide">
                        <img src="../../../imagens/html.svg">
                    </div>
                    <div class="slide">
                        <img src="../../../imagens/css.svg">
                    </div>
                </div>            
            </div>
        </div>
    </div>
    <footer>
        <a>Política de Privacidade</a>
        <a>Nosso contato</a>
        <a>Avalie-nos</a>
        <p>SIAS 2024</p>
    </footer>
<script src="tituloDigitavel.js"></script>
<script src="carrosselUltimosAnuncios.js"></script>
<script src="carrosselMinhasVagas.js"></script>
<script src="carrosselTestes.js"></script>
</body>
</html>