<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
    <link rel="stylesheet" type="text/css" href="../../assets/styles/homeStyles.css">
    <link rel="stylesheet" type="text/css" href="teste.css">
</head>
<body>
    <nav>
        <a href="../PreparaTeste/preparaTeste.html"><h2><</h2><h3>Sair</h3></a>
        <div style="display: flex;">
            <h2 id="minutos">30</h2>
            <h2>:</h2>
            <h2 id="segundos">00</h2>
        </div>
    </nav>
    <div class="containerTeste">
        <div class="contentTeste">
            <div class="divTitulo">                
                <h2>Python para Análise de Dados</h2>
                <div class="divSubtitulo">
                    <p>Por:&nbsp;</p>
                    <p id="autorTeste">Microsoft</p>
                </div>
                <div class="divSubtitulo">
                    <p>Nível:&nbsp;</p>
                    <p id="nivelTeste">Intermediário</p>
                </div>
            </div>
            <div class="divQuestoes">
                <article class="articleQuestao">
                    <div class="divPergunta">
                        <p name="numQuestao" class="numQuestao">1</p>
                        <p>.</p>
                        <p name="pergunta" class="pergunta">Quem descubriu o Brasil?</p>
                    </div>
                    <div class="divAlternativas">
                        <div><input type="radio" name="questao1"><label for="">Seu Pai</label></div>
                        <div><input type="radio" name="questao1"><label for="">Seu Pai</label></div>
                        <div><input type="radio" name="questao1"><label for="">Seu Pai</label></div>
                        <div><input type="radio" name="questao1"><label for="">Seu Pai</label></div>
                        <div><input type="radio" name="questao1"><label for="">Seu Pai</label></div>
                    </div>
                </article>
                <article class="articleQuestao">
                    <div class="divPergunta">
                        <p name="numQuestao" class="numQuestao">1</p>
                        <p>.</p>
                        <p name="pergunta" class="pergunta">Quem descubriu o Brasil?</p>
                    </div>
                    <div class="divAlternativas">
                        <div><input type="radio" name="questao2"><label for="">Seu Pai</label></div>
                        <div><input type="radio" name="questao2"><label for="">Seu Pai</label></div>
                        <div><input type="radio" name="questao2"><label for="">Seu Pai</label></div>
                        <div><input type="radio" name="questao2"><label for="">Seu Pai</label></div>
                        <div><input type="radio" name="questao2"><label for="">Seu Pai</label></div>
                    </div>
                </article>
                <article class="articleQuestao">
                    <div class="divPergunta">
                        <p name="numQuestao" class="numQuestao">1</p>
                        <p>.</p>
                        <p name="pergunta" class="pergunta">Quem descubriu o Brasil?</p>
                    </div>
                    <div class="divAlternativas">
                        <div><input type="radio" name="questao3"><label for="">Seu Pai</label></div>
                        <div><input type="radio" name="questao3"><label for="">Seu Pai</label></div>
                        <div><input type="radio" name="questao3"><label for="">Seu Pai</label></div>
                        <div><input type="radio" name="questao3"><label for="">Seu Pai</label></div>
                        <div><input type="radio" name="questao3"><label for="">Seu Pai</label></div>
                    </div>
                </article>                 
                <div class="divButton">
                    <button id="finalizar">Finalizar teste</button>
                </div> 
            </div>          
        </div>
    </div>  
    <script src="cronometro.js"></script> 
    <script src="contagemQuestoes.js"></script>
    <script src="finalizarTeste.js"></script>
</body>
</html>