<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
    <link rel="stylesheet" type="text/css" href="../../assets/styles/homeStyles.css">
    <link rel="stylesheet" type="text/css" href="editarPerfil.css">
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="menuBtn">
            <img src="../../../imagens/menu.svg">
        </label>
        <a href="homeCandidato.html"><img id="logo" src="../../assets/images/logos_empresa/logo_sias.png"></a> 
        <button class="btnModo"><img src="../../../imagens/moon.svg"></button> 
        <ul>            
            <li><a href="#">Vagas</a></li>
            <li><a href="#">Pesquisar</a></li>
            <li><a href="#">Cursos</a></li>
            <li><a href="#">Perfil</a></li>
        </ul>
    </nav>
    <div class="divCommon">
        <div class="divTituloComBtn" id="divTituloCriacaoVaga">
            <button class="btnVoltar" onclick="window.location.href='../perfilCandidato/perfilCandidato.php'"><</button>
            <h2>Editar Perfil</h2>
        </div>
        <div class="divEdicaoPerfil">
            <div class="divBackgroundImg">
                <button class="btnEditarFundo">
                    <lord-icon
                        src="https://cdn.lordicon.com/wuvorxbv.json"
                        trigger="hover"
                        stroke="bold"
                        colors="primary:#f5f5f5,secondary:#f5f5f5"
                        style="width:34px;height:34px">
                    </lord-icon>
                </button>
                <div class="divFotoDePerfil"></div>
            </div>
            <div class="divInputs">
                <div class="inputsLadoALado">
                    <div class="containerInput">
                        <div class="contentInput">
                            <input class="inputAnimado" id="nome" name="nome" type="text" required>
                            <div class="labelLine">Nome</div>
                        </div>
                        <small name="aviso"></small>
                    </div>
                    <div class="containerInput">
                        <div class="contentInput">
                            <input class="inputAnimado" id="email" name="email" type="text" required>
                            <div class="labelLine">Email</div>
                        </div>
                        <small name="aviso"></small>
                    </div>
                </div>
                <div class="inputsLadoALado">
                    <div class="containerInput">
                        <div class="contentInput">
                            <input class="inputAnimado" id="data" name="data" type="date" required>
                            <div class="labelLine">Data de Nascimento</div>
                        </div>
                        <small name="aviso"></small>
                    </div>
                    <div class="containerInput">
                        <div class="contentInput">
                            <input class="inputAnimado" id="nome" name="nome" type="text" required>
                            <div class="labelLine">Nome</div>
                        </div>
                        <small name="aviso"></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<footer>
        <a>Política de Privacidade</a>
        <a>Nosso contato</a>
        <a>Avalie-nos</a>
        <p>SIAS 2024</p>
    </footer>-->
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
</body>
</html>