.divEdicaoPerfil{
    border-radius: 20px;
    border: 1px solid silver;
    width: 850px;
    box-shadow: 0px 0px 20px silver;
    background: none;
}

.divBackgroundImg{
    background-image: url("../../assets/images/figuras/imgFundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    display: flex;
    justify-content: center;
}

.divFotoDePerfil{
    cursor: pointer;
    background-image: url("../../assets/images/figuras/avatar.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    top: 108px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divFotoDePerfil:hover{    
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../../assets/images/figuras/avatar.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.divIconeEditar{
    display: none;
    height: 110px;
    width: 110px;
}

.btnEditarFundo{   
    cursor: pointer; 
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border: 1px solid var(--laranjas);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
    position: absolute;
    left: 10px;
    top: 10px;
    transition: 0.2s ease;
}

.btnEditarFundo:hover{
    transform: scale(1.1);
}

.divContentPerfil{
    padding: 100px;
}

.divAvisoInicial{
    margin-bottom: 20px;
    display: none;
    justify-content: center;
}

/* ------------------------- INPUTS ANIMADOS -------------------------*/

.inputsLadoALado{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.contentInput{
    display: flex;
    align-items: center;
    position: relative;
}

.inputAnimado{
    height: 32px;
    width: 300px;
    border: none;
    border-bottom: 1px solid grey;
    padding: 6px 10px;
    outline: none;
    font-size: 12pt;
    transition: 0.2s ease;
    background: transparent;    
    z-index: 1111;
}

.inputAnimado::placeholder{
    opacity: 0;
}

.inputAnimado:focus::placeholder{
    opacity: 1;
}

.labelLine{
    position: absolute;
    transition: 0.2s ease;
    margin: 0px 11px;
    color: grey;
    background-color: whitesmoke;
    font-size: 12pt;
}

.inputAnimado:focus,
.inputAnimado:valid{
    border-bottom: 1px solid var(--laranja);
}

.inputAnimado:focus +.labelLine,
.inputAnimado:valid +.labelLine{
    transform: translate(-8px,-20px) scale(0.84) !important; 
    padding: 0 6px;
    color: var(--laranja);
    z-index: 1111;
}

input:hover{
    cursor: text;
}

input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}

input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}

input[type=date]:focus +.labelLine,
input[type=date]:valid +.labelLine{
    transform: translate(-17px,-22px) scale(0.84) !important;
}

small{
    display: flex;
    margin-left: 11px;
    color: red;
}

/* ------------------------- TEXTAREA ANIMADA -------------------------*/

.divTextArea {
    display: flex;
    height: 130px;
    margin-top: 60px;
}

.containerTextArea, .contentInputTextArea, .textAreaAnimada{
    height: 100%;
    width: 100%;
}

.contentInputTextArea{
    display: flex;
    position: relative;
}

.textAreaAnimada{
    border: 1px solid grey;
    padding: 6px 10px;
    border-radius: 8px;
    outline: none;
    font-size: 12pt;
    transition: 0.2s ease;
    background: transparent;    
    z-index: 1111;
    resize: none;
}

.textArealabelLine{                                                     
    position: absolute;
    transition: 0.2s ease;
    margin: 8px 11px;
    color: grey;
    background-color: whitesmoke;
    font-size: 12pt;
}

.textAreaAnimada:focus,
.textAreaAnimada:valid{
    border: 1px solid var(--laranja);
}

.textAreaAnimada:focus +.textArealabelLine,
.textAreaAnimada:valid +.textArealabelLine{
    transform: translate(-6px,-17px) scale(0.84) !important;
    padding: 0 6px;
    color: var(--laranja);
    z-index: 1111;
}


/* ------------------------- Adiciona Elementos -------------------------*/

.divElementos{
    display: grid;
    margin-top: 50px;
}

.divElementos small{
    margin-left: 0px;
}

.divAdiconaElementos{
    min-height: 150px;
}

.divAdiconaElementos h2{
    font-size: 18pt;
}

.divTituloAddElementos{
    display: flex;
    align-items:center;
}

.inputSimples{
    outline: 0;
    background: none;
    border: none;
    border-bottom: 1px solid gray;
    margin: 10px 10px 0px 0px;
    font-size: 12pt;
    width: 280px;
    padding: 0px 4px 2px 04px;
}

.btnAdicionarElemento{    
    cursor: pointer;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.elementosAdicionados{
    margin-top: 14px;
}

.elementosAdicionados li{
    margin: 0px 20px 20px 0px;
    padding: 10px;
    border-radius: 10px;    
    box-shadow: 0px 0px 6px gray;
    transition: 0.2s ease;
    cursor: default;
    width: auto;
    float: left;
}

.elementosAdicionados li:hover{
    transform: scale(1.08);
}


/* ------------------------- Button -------------------------*/

.divBtnAtualizar{
    text-align: center;
    margin-top: 20px;
}

.divBtnAtualizar input{
    cursor: pointer;
    border: 1px solid black;
    font-size: 16pt;
    width: 200px;
    height: 50px;
    background-color: black;
    color: whitesmoke;
    border-radius: 14px;
    transition: 0.2s ease;    
    box-shadow: 0px 0px 8px silver;
}

.divBtnAtualizar input:hover{
    transform: scale(1.1);
}