<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
    <link rel="stylesheet" type="text/css" href="../../assets/styles/homeStyles.css">    
    <link rel="stylesheet" type="text/css" href="preparaTeste.css">
</head>
<body>    
</body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="menuBtn">
            <img src="../../../imagens/menu.svg">
        </label>
        <a href="../HomeCandidato/homeCandidato.html"><img id="logo" src="../../assets/images/logos_empresa/logo_sias.png"></a> 
        <button class="btnModo"><img src="../../../imagens/moon.svg"></button> 
        <ul>            
            <li><a href="../TodasVagas/todasVagas.php">Vagas</a></li>
            <li><a href="../TodosTestes/todosTestes.php">Testes</a></li>
            <li><a href="../Cursos/cursos.php">Cursos</a></li>
            <li><a href="../PerfilCandidato/perfilCandidato.php">Perfil</a></li>
        </ul>
    </nav>
    <div class="containerTeste">
        <article class="articleTeste">
            <header>
                <h2 id="nomeTeste">Python para Análise de Dados</h2>
                <div>
                    <p>Competências:&nbsp;</p>
                    <p id="competenciasTeste">Ciência de Dados</p>
                </div>
                <div>
                    <p>Data:&nbsp;</p>
                    <p id="dataTeste">20/03/2004</p>
                </div>
            </header>
            <section class="sectionPrincipal">
                <div class="divImgteste">
                    <img src="../../assets/images/logos_cursos/python.svg">
                </div>
                <div class="divInformacoes">
                    <div>                        
                        <div class="divLabels"><label class="infos">Por: </label><label class="infos" id="autorTeste">Microsoft</label></div>
                        <div class="divLabels"><label class="infos">Nível: </label><label class="infos" id="nivelTeste">Intermediário</label></div>                    
                        <div class="divLabels"><label class="infos">Duração: </label><label class="infos" id="duracaoTeste">40 minutos</label></div>
                        <div class="divLabels"><label class="infos">Questões: </label><label class="infos" id="nivelTeste">50</label></div>     
                    </div>
                </div>
            </section>
            <div class="statusTeste">
                <label>Teste realizado.</label>
                <label >Pontuação obtida:</label>                
                <label id="pontuacao">35/50</label>
            </div>
            <section class="sectionButton">                
                <a href="../Teste/teste.php?id=0">
                    <button>Iniciar</button>
                </a>
            </section>
        </article>
    </div>    
    <footer>
        <a>Política de Privacidade</a>
        <a href="../NossoContato/nossoContato.html">Nosso contato</a>
        <a href="../AvalieNos/avalieNos.html">Avalie-nos</a>
        <p class="sinopse">SIAS 2024</p>
    </footer>
    <script src="../../../modoNoturno.js"></script>  
</html>