<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificação</title>
    <link rel="stylesheet" type="text/css" href="../../assets/styles/verificacaoEmailStyle.css">
    <link rel="stylesheet" type="text/css" href="../../assets/styles/homeStyles.css">
</head>
<body>
    <nav>
        <a href="../../../index.php">
            <img id="logo" src="../../assets/images/logos_empresa/logo_sias.png" alt="Logo da Empresa">
        </a>
    </nav>
    <div class="container">
        <div class="content">
            <h1>Verifique seu email</h1>
            <p>Uma mensagem de confirmação foi enviada ao seu email.</p>
            <lord-icon
                src="https://cdn.lordicon.com/aycieyht.json"
                trigger="loop"
                state="loop-flying"
                colors="primary:#000000,secondary:#e88c30"
                style="width:250px;height:250px">
            </lord-icon>
        </div>
    </div>    
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
</body>
</html>