<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecuperarSenha</title>
    <link rel="stylesheet" type="text/css" href="../../assets/styles/verificacoes.css">
    <link rel="stylesheet" type="text/css" href="../../assets/styles/login.css">    
    <link rel="stylesheet" type="text/css" href="../../assets/styles/homeStyles.css">
</head>
<body>
    <nav>
        <a>
            <img id="logo" src="../../assets/images/logos_empresa/logo_sias.png" alt="Logo da Empresa">
        </a>
    </nav>
    <div class="container">
        <div class="content">
            <h1>Insira seu Email</h1>
            <p>Enviaremos uma mensagem de verificação para sua caixa de entrada</p>
            <form class="formVerificacao">
                <div class="containerInput">
                    <div class="contentInput">
                        <input class="inputAnimado" id="email" name="email" type="text" required>
                        <div class="labelLine">Email</div>
                    </div>
                    <small name="aviso"></small>
                </div>            
                <input type="submit" value="Enviar" class="btnLogin" id="btnLaranja">
            </form>
        </div>
    </div>
</body>
</html>