<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" type="text/css" href="cadastro.css">
</head>
<body>
    <article>
        <div class="carrosselVertical">
            <div class="rollingImg"><img src="../../../imagens/icones.jpeg"></div>
            <div class="rollingImg"><img src="../../../imagens/icones.jpeg"></div>
            <div class="rollingImg"><img src="../../../imagens/icones.jpeg"></div>
            <div class="rollingImg"><img src="../../../imagens/icones.jpeg"></div>
        </div>
        <div class="divCentraliza">
            <section class="sectionCadastro">
                <h1>Cadastro</h1>                
                <div class="divBotoesTrocaForms">
                    <button id="btnEsquerda">Candidato</button>
                    <button id="btnDireita">Recrutador</button>
                </div>
                <form id="formCandidato" method="post" action="../../../src/services/cadastros/cadastro.php">
                    <div class="containerInput">
                        <div class="contentInput">
                            <input class="inputAnimado" name="nome" type="text" required>
                            <div class="labelLine">Nome</div>
                        </div>
                        <small name="aviso"></small>
                    </div>
                    <div class="containerInput">
                        <div class="contentInput">
                            <input class="inputAnimado" name="email" type="text" required>
                            <div class="labelLine">Email</div>
                        </div>
                        <small name="aviso"></small>
                    </div>
                    <div class="containerInput">
                        <div class="contentInput">
                            <input class="inputAnimado" name="cpf" type="text" required>
                            <div class="labelLine">CPF</div>
                        </div>
                        <small name="aviso-cpf"></small>
                    </div>
                    <div class="containerInput">
                        <div class="contentInput">
                            <input class="inputAnimado" name="senha" type="password" required>
                            <div class="labelLine">Senha</div>
                        </div>
                        <small name="aviso-senha"></small>
                    </div>
                    <div class="containerInput">
                        <div class="contentInput">
                            <input class="inputAnimado" name="confirmaSenha" type="password" required>
                            <div class="labelLine">Confirmar senha</div>
                        </div>
                        <small name="aviso-senha"></small>
                    </div>
                    <input type="submit" value="Cadastrar" class="btnCadastro"><br><small>Ao se cadastrar, você concorda com os <br><a>Termos de Serviço</a></small><br><br>
                    <a href="../Login/login.html">Já é cadastrado? Faça o login!</a> 
                </form>
                <form id="formRecrutador" method="post" action="../../../src/services/cadastros/cadastroRecrutador.php">
                    <div class="containerInput">
                        <div class="contentInput">
                            <input class="inputAnimado" name="nome" type="text" required>
                            <div class="labelLine">Nome</div>
                        </div>
                        <small name="aviso"></small>
                    </div>
                    <div class="containerInput">
                        <div class="contentInput">
                            <input class="inputAnimado" name="email" type="text" required>
                            <div class="labelLine">Email</div>
                        </div>
                        <small name="aviso"></small>
                    </div>
                    <div class="containerInput">
                        <div class="contentInput">
                            <input class="inputAnimado" name="cnpj" type="text" required>
                            <div class="labelLine">CNPJ</div>
                        </div>
                        <small name="aviso-cnpj"></small>
                    </div>
                    <div class="containerInput">
                        <div class="contentInput">
                            <input class="inputAnimado" name="senha" type="password" required>
                            <div class="labelLine">Senha</div>
                        </div>
                        <small name="aviso-senha"></small>
                    </div>
                    <div class="containerInput">
                        <div class="contentInput">
                            <input class="inputAnimado" name="confirmaSenha" type="password" required>
                            <div class="labelLine">Confirmar senha</div>
                        </div>
                        <small name="aviso-senha"></small>
                    </div>
                    <input type="submit" value="Cadastrar" class="btnCadastro"><br>
                    <small>Ao se cadastrar, você concorda com os <br><a>Termos de Serviço</a></small><br><br>
                    <a href="../Login/login.html">Já é cadastrado? Faça o login!</a>                
                </form>      
            </section> 
        </div>            
    </article>
<script src="trocaDeForms.js"></script>
<script src="avisos.js"></script>
<script src="validacoes.js"></script>
</body>
</html>