#fieldsetAvalieNos{
    width: 500px;
}

#fieldsetAvalieNos legend{
    text-align: left;
}

#fieldsetAvalieNos h3{
    font-size: 16pt;
}

.pergunta{
    font-size: 12pt;
}

input[type="radio"]{
    display: none;
}

.divEstrelas{
    margin-top: 10px;
}

.flexEstrelas{
    margin-top: 10px;
}

.estrela{
    width: 26px;
    margin: 0px 8px;
    transition: 0.2s ease;
}

#divTextAreaAvalieNos{
    margin: 30px 0px;
}

#btnAvaliar{    
    font-size: 14pt;
    width: 150px;
    height: 40px;
}