<!DOCTYPE html>
<html lang="pt-br
">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avalie-Nos</title>
    <link rel="stylesheet" type="text/css" href="../../assets/styles/homeStyles.css">
    <link rel="stylesheet" type="text/css" href="../../assets/styles/verificacoes.css">
    <link rel="stylesheet" type="text/css" href="../../assets/styles/perfilStyle.css">
    <link rel="stylesheet" type="text/css" href="../../assets/styles/editarStyles.css">
    <link rel="stylesheet" type="text/css" href="avalieNos.css">
</head>
<body>
    <nav>
        <a href="../../../index.php">
            <img id="logo" src="../../assets/images/logos_empresa/logo_sias.png" alt="Logo da Empresa">
        </a>
        <button class="btnModo"><img src="../../../imagens/moon.svg"></button> 
    </nav>
    <div class="container">
        <div class="content">
            <fieldset id="fieldsetAvalieNos">
                <legend><h3>Avalie-nos</h3></legend>
                <form>
                    <div class="divEstrelas">
                        <p class="pergunta">Quantas entrelas você daria para nossa aplicação?</p>
                        <div class="divRadios">
                            <input type="radio" id="uma" name="estrelas">
                            <input type="radio" id="duas" name="estrelas">
                            <input type="radio" id="tres" name="estrelas">
                            <input type="radio" id="quatro" name="estrelas">
                            <input type="radio" id="cinco" name="estrelas">
                        </div>
                        <div class="flexEstrelas">
                            <label for="uma"><img id="umaEstrela" class="estrela" src="../../assets/images/icones_diversos/orangeStar.svg"></label>
                            <label for="duas"><img id="duasEstrelas" class="estrela" src="../../assets/images/icones_diversos/orangeStar.svg"></label>
                            <label for="tres"><img id="tresEstrelas" class="estrela" src="../../assets/images/icones_diversos/orangeStar.svg"></label>
                            <label for="quatro"><img id="quatroEstrelas" class="estrela" src="../../assets/images/icones_diversos/orangeStar.svg"></label>
                            <label for="cinco"><img id="cincoEstrelas" class="estrela" src="../../assets/images/icones_diversos/orangeStar.svg"></label>
                        </div>
                    </div>
                    <div class="divTextArea" id="divTextAreaAvalieNos">
                        <div class="containerTextArea">
                            <div class="contentInputTextArea">
                                <textarea class="textAreaAnimada" name="opiniao" id="opiniao" type="text" required></textarea>
                                <div class="textArealabelLine">Minha opinião</div>
                            </div>
                            <small name="aviso"></small>
                        </div>
                    </div>
                    <div class="divBtnAtualizar">
                        <input type="button" value="Enviar" id="btnAvaliar">
                    </div>
                </form>
            </fieldset>
        </div>
    </div>    
    <script src="../../../modoNoturno.js"></script>
    <script src="adicionaEstrelas.js"></script>
    <script src="hoverEstrelas.js"></script>
</body>
</html>