<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus testes</title>
    <link rel="stylesheet" type="text/css" href="../../assets/styles/homeStyles.css">
    <link rel="stylesheet" type="text/css" href="../../assets/styles/todosStyle.css">
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="menuBtn">
            <img src="../../../imagens/menu.svg">
        </label>
        <a href="../HomeCandidato/homeCandidato.html"><img id="logo" src="../../assets/images/logos_empresa/logo_sias.png"></a> 
        <button class="btnModo"><img src="../../../imagens/moon.svg"></button> 
        <ul>            
            <li><a href="../CriarVaga/criarVaga.php">Anunciar</a></li>
            <li><a href="../MinhasVagas/minhasVagas.php">Minhas vagas</a></li>
            <li><a href="../MeusTestes/meusTestes.php">Meus testes</a></li>
            <li><a href="../PerfilRecrutador/perfilRecrutador.php">Perfil</a></li>
        </ul>
    </nav>
    <div class="divTituloDigitavel" id="divTituloDigitavelTodos">
        <h1 id="tituloAutomatico">M</h1>
        <i class="pisca"></i>
    </div>
    <div class="divCommon">
        <div class="container">
            <div class="divPesquisa">
                <div class="divFlexInput">
                    <input class="inputPesquisa" type="text" placeholder="Pesquisar">
                    <button class="searchButton">
                        <lord-icon
                            src="https://cdn.lordicon.com/kkvxgpti.json"
                            trigger="hover"
                            colors="primary:#f5f5f5"
                            style="width:36px;height:36px">
                        </lord-icon>
                    </button>
                </div>
                <div id="mostraFiltros">
                    <h3>Filtros</h3>
                    <img id="iconeFiltro" src="../../assets/images/icones_diversos/showHidden.svg">
                </div>
                <div class="containerFiltros">
                    <div class="contentFiltro">
                        <label class="nomeFiltro">Área:</label>
                        <select class="selectArea">
                            <option>Tecnologia</option>
                            <option>Medicia</option>
                            <option>Engenharia</option>
                            <option>Economia</option>                                        
                            <option>Vendas</option>  
                            <option>Educação</option>                                    
                            <option>Direito</option>                                                                          
                            <option>Administração</option>                                                                                                            
                            <option>Agronegócio</option>                                                                                                                                                  
                            <option>Gastronomia</option>
                        </select>
                    </div>
                    <div class="contentFiltro">
                        <label class="nomeFiltro">Nível:</label>
                        <input class="checkBoxTipo" type="checkbox" name="nivel" id="basico" value="Básico" required>
                        <input class="checkBoxTipo" type="checkbox" name="nivel" id="intermediario" value="Intermediário" required>
                        <input class="checkBoxTipo" type="checkbox" name="nivel" id="experiente" value="Experiente" required>
                        <label for="basico" class="btnCheckBox" id="btnBasico">Básico</label>
                        <label for="intermediario" class="btnCheckBox" id="btnIntermediario">Intermediário</label>
                        <label for="experiente" class="btnCheckBox" id="btnExperiente">Experiente</label>
                    </div>
                    <div class="contentFiltro">
                        <button>Aplicar</button>
                    </div>
                </div>                
            </div>
            <div class="divGridTestes">
                <a class="testeCarrosselLink" href="../PreparaTeste/preparaTeste.html">
                    <article class="testeCarrossel">
                        <div class="divAcessos">
                            <img src="../../../imagens/people.svg"></img>
                            <small class="qntdAcessos">800</small>
                        </div>
                        <img src="../../../imagens/excel.svg"></img>
                        <div class="divDetalhesTeste">
                            <div>                                
                                <p class="nomeTeste">Excel Básico</p>
                                <small class="autorTeste">Por Jefferson Evangelista</small><br>
                                <small class="competenciasTeste">Estágio, TI, Administração, Negócios</small>
                            </div>
                        </div>
                    </article>
                </a>
                <a class="testeCarrosselLink" href="../PreparaTeste/preparaTeste.html">
                    <article class="testeCarrossel">
                        <div class="divAcessos">
                            <img src="../../../imagens/people.svg"></img>
                            <small class="qntdAcessos">800</small>
                        </div>
                        <img src="../../../imagens/excel.svg"></img>
                        <div class="divDetalhesTeste">
                            <div>                                
                                <p class="nomeTeste">Excel Básico</p>
                                <small class="autorTeste">Por Jefferson Evangelista</small><br>
                                <small class="competenciasTeste">Estágio, TI, Administração, Negócios</small>
                            </div>
                        </div>
                    </article>
                </a>
                <a class="testeCarrosselLink" href="../PreparaTeste/preparaTeste.html">
                    <article class="testeCarrossel">
                        <div class="divAcessos">
                            <img src="../../../imagens/people.svg"></img>
                            <small class="qntdAcessos">800</small>
                        </div>
                        <img src="../../../imagens/excel.svg"></img>
                        <div class="divDetalhesTeste">
                            <div>                                
                                <p class="nomeTeste">Excel Básico</p>
                                <small class="autorTeste">Por Jefferson Evangelista</small><br>
                                <small class="competenciasTeste">Estágio, TI, Administração, Negócios</small>
                            </div>
                        </div>
                    </article>
                </a>
                <a class="testeCarrosselLink" href="../PreparaTeste/preparaTeste.html">
                    <article class="testeCarrossel">
                        <div class="divAcessos">
                            <img src="../../../imagens/people.svg"></img>
                            <small class="qntdAcessos">800</small>
                        </div>
                        <img src="../../../imagens/excel.svg"></img>
                        <div class="divDetalhesTeste">
                            <div>                                
                                <p class="nomeTeste">Excel Básico</p>
                                <small class="autorTeste">Por Jefferson Evangelista</small><br>
                                <small class="competenciasTeste">Estágio, TI, Administração, Negócios</small>
                            </div>
                        </div>
                    </article>
                </a>
            </div>
        </div>
    </div>
    <footer>
        <a>Política de Privacidade</a>
        <a>Nosso contato</a>
        <a>Avalie-nos</a>
        <p class="sinopse">SIAS 2024</p>
    </footer>    
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <script src="checkButtons.js"></script>    
    <script src="../../../modoNoturno.js"></script>
    <script src="mostrarFiltros.js"></script>
    <script src="tituloDigitavel.js"></script>
</body>
</html>