<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha</title>
    <link rel="stylesheet" type="text/css" href="../../assets/styles/verificacoes.css">
    <link rel="stylesheet" type="text/css" href="../../assets/styles/login.css">    
    <link rel="stylesheet" type="text/css" href="../../assets/styles/homeStyles.css">
</head>
<body>
    <nav>
        <a>
            <img id="logo" src="../../assets/images/logos_empresa/logo_sias.png" alt="Logo da Empresa">
        </a>
    </nav>
    <div class="container">
        <div class="content">
            <h1>Redefina sua senha</h1>
            <p>Escolha uma nova senha para proteger sua conta</p>
            <form class="formVerificacao">
                <div class="containerInput">
                    <div class="contentInput">
                        <input class="inputAnimado" id="senha" name="senha" type="password" required>
                        <div class="labelLine">Senha</div>                        
                        <div class="labelLine" id="mostrarSenha">
                            <img id="olho" src="../../assets/images/icones_diversos/closeEye.svg">
                        </div>
                    </div>
                    <small name="aviso"></small>
                </div>   
                <div class="containerInput">
                    <div class="contentInput">
                        <input class="inputAnimado" id="confirmaSenha" name="confirmaSenha" type="password" required>
                        <div class="labelLine">Confirmar senha</div>
                    </div>
                    <small name="aviso"></small>
                </div>          
                <input type="submit" value="Salvar" class="btnLogin" id="btnLaranja">
            </form>
        </div>
    </div>
    <script src="mostrarSenha.js"></script>
</body>
</html>