<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro</title>
    <link rel="stylesheet" type="text/css" href="../../assets/styles/verificacoes.css">
    <link rel="stylesheet" type="text/css" href="../../assets/styles/homeStyles.css">
</head>
<body>
    <nav>
        <a>
            <img id="logo" src="../../assets/images/logos_empresa/logo_sias.png" alt="Logo da Empresa">
        </a>
    </nav>
    <div class="container">
        <div class="content">
            <h1>Algo deu errado...</h1>
            <p>Mensagem de erro do php</p>
            <lord-icon
                src="https://cdn.lordicon.com/ygvjgdmk.json"
                trigger="in"
                delay="1500"
                state="in-error"
                colors="primary:#000000"
                style="width:200px;height:200px">
            </lord-icon>
        </div>
    </div>    
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
</body>
</html>