:root{
    --laranja: #EC6809;
    --laranjaClaro: #ee8840;
    --laranjaEscuro: #a04809;
    -webkit-tap-highlight-color: transparent;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

body{
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    transition: 0.5s ease;
}

a{
    cursor: pointer;
    color: inherit
}

button{
    color: whitesmoke;
    background-color: black;
    width: 130px;
    padding: 10px 0;
    border: 1px solid black;
    font-size: 12pt;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover{
    transform: scale(1.08);
}

#btnRunningGuy{
    padding: 12px;
}

.divBtnVerMais{
    margin-top: 10px;
}

.btnVerMais{
    margin-left: 60px;
    height: 100px;
    background-color: yellow;
}

h2{
    font-size: 24pt;
}

.divTitulo{
    margin-bottom: 24px;
    width: 1150px;
}

.divTituloComBtn{
    margin-bottom: 24px;
    width: 1150px;
    display: flex;
    align-items: center;
}

.btnVoltar{
    background: none;
    color: black;
    border: none;
    transition: 0.2s;
    margin-right: 4px;
    font-weight: bold;
}

.btnVoltar:hover{
    transform: scale(1.3);
}

/* ------------------------- Nav -------------------------*/

nav{
    background-color: var(--laranja);
    height: 64px;
    box-shadow: 0 0 6px 1px var(--laranjaEscuro);
    position: relative;
}

nav #logo{
    margin: 16px 0px;
    width: 100px;
}

nav ul{
    float: right;
    margin-right: 30px;
}

nav ul li{
    display: inline-block;
    line-height: 64px;
}

nav ul li a{
    color: whitesmoke;
    font-size: 10pt;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
    transition: 0.5s;
}

nav ul li a:hover{
    background: var(--laranjaClaro);
    transition: 0.2s;
}

.btnModo{
    line-height: 64px;
    float: right;
    background: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 30px 0px 0px;
    border-radius: 20px;
    border: none;
}

.btnModo:hover{
    border: none;
    background: transparent;
    box-shadow: 0px 0px 8px var(--laranjaEscuro);
}

.menuBtn{
    margin-left: 20px;
    float: left;
    line-height: 64px;
    cursor: pointer;
}

#check, .menuBtn{
    display: none;
}

@media(min-width:700px){
    nav #logo{
        margin-left: 50px;
    }
}

@media (max-width: 700px){
    .menuBtn{
        padding-right: 24px;
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--laranjaEscuro);
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 10px 0;
    }
    nav ul li a{
        font-size: 12pt;
    }
    nav ul li a:hover{
        color: var(--laranjaClaro);
        background-color: var(--laranjaEscuro);
        transition: 0.2s;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

/* ------------------------- Div do Título -------------------------*/

.divTitle{
    height: 380px;
    background-color: var(--laranja);
    color: whitesmoke;
    text-align: center;
}

.divCentraliza{
    width: 100%;  
    height: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
}

#divCentralizaComIcones{
    justify-content: space-between;
}

.divTituloDigitavel{
    display: flex;
    justify-content: center;
    align-items: center;
}

.divTitle h1{
    font-size: 54pt;
}

.divTitle i{
    margin-left: 6px;
    width: 6px;
    height: 80px;
    background-color: whitesmoke;
    -webkit-animation: blinking 2s infinite;
    animation: blinking 1s infinite;
}
  
@keyframes blinking {
    0% {
        background-color: transparent;
    }
    49% {
        background-color: transparent
    }
    50% {
        background-color: whitesmoke;
    }
}

.divTitle p{
    margin: 10px 0px 20px 0px;
    font-size: 16pt;
}

.divTitle button{
    width: 200px;
    font-size: 14pt;
    margin-top: 20px;
}

.divIconeFlutuante{
    margin: 0px 32px 30px 32px;
    animation-name: infiniteUpDown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: all .3s;
}

@keyframes infiniteUpDown{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-20px);
    }

    100%{
        transform: translateY(0px);
    }
}
/* ------------------------- Div Comum -------------------------*/

.divCommon{
    display: grid;  
    place-items: center;
    margin: 70px 0px;
}

.divCommon .container{
    width: 1150px;
}

.divCommon p{
    margin-top: 6px;
}

.divCommon .divTitulo{
    margin-bottom: 36px;
}

/* ------------------------- Div do Carrossel -------------------------*/

.divCarrossel{
    display: grid;
    place-items: center;
    margin: 70px 0px;
}

.divCarrossel .container{
    width: 1270px;
}

.divCarrossel p{
    margin-top: 6px;
}

.btnAdicionar{
    width: 40px;
    height: 40px;
    margin-left: 14px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------- Div de testes -------------------------*/

.flexTestes{
    display: flex;
}

.gridTestes{
    display: grid;
    width: 100%;
}

/* ------------------------- Div de Comentários -------------------------*/

.divComentarios{
    display: flex;
    justify-content: center;
    align-items: center;
}

.divComentarios button{
    padding: 8px;
    height: 130px;
}

.divComentarios button img{
    margin-top: 10px;
}

/* ------------------------- Carrossel -------------------------*/

.carrosselBox{
    display: flex;
    align-items: center;
    height: 180px;
    width: auto;
    overflow: hidden;
}

.btnLeftSlider, .btnRightSlider{
    color: silver;
    border: solid 1px silver;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20pt;
    font-weight: bold;
    cursor: pointer;
    margin-top: 70px;
    transition: 0.2s ease;
}

.btnLeftSlider:hover, .btnRightSlider:hover{
    transform: scale(1.08);
}

.btnLeftSlider{
    float: left;
}

.btnRightSlider{
    float: right;
}

/* ------------------------- Carrossel dos Testes -------------------------*/

#carrosselTestes{
    height: 120px;
}

#leftTestes, #rightTestes{
    margin-top: 40px;
}

/* ------------------------- Carrossel dos Perfis -------------------------*/

#carrosselPerfis{
    height: 260px;
}

#leftPerfis, #rightPerfis{
    margin-top: 110px;
}
  
/* ------------------------- Anuncio -------------------------*/

.postLink{
    margin: 0 10px;
    transition: 0.5s ease;
    width: 250px;
    height: 160px;
}

.postLink:hover{
    transform: scale(1.04);
    transition: 0.2s;
}

.post{
    border: 1px solid silver;
    border-radius: 10px;
    width: 250px;
    height: 160px;
    box-shadow: 4px 4px 4px silver;
    padding: 8px;
    position: relative;
}

.post header{
    display: flex;
    align-items: center;
}

.post section{
    margin-top: 20px;
}

.tipoVaga{
    font-size: 14pt;
    margin-left: 6px;
}

.empresaVaga{
    margin-top: 4px;
}

.statusVaga, .dataVaga{
    padding: 8px;
}

.statusVaga{
    position: absolute;
    bottom: 0;
    font-weight: bold;
    left: 0;
}

.dataVaga{
    position: absolute;
    bottom: 0;
    right: 0;
}

/* ------------------------- Teste -------------------------*/

.testeLink{
    cursor: pointer;
    transition: 0.5s ease;
    width: 100%;    
    margin-bottom: 20px;
}

.testeLink:hover{
    transform: scale(1.04);
    transition: 0.2s;
}

.teste{
    position: relative;
    border: 1px solid silver;
    padding: 6px;
    display: flex;
    box-shadow: 4px 4px 4px silver;
}

.divDetalhesTeste{
    display: flex;
    align-items: center;
    padding-left: 4px;
}

.nomeTeste{
    font-weight: bold;
}

.autorTeste{
    color: gray;
}

.divAcessos{
    padding: 4px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
}

.qntdAcessos{
    margin: 4px;
}

/* ------------------------- Teste do Carrossel -------------------------*/

.testeCarrosselLink{
    margin: 0px 10px;
    transition: 0.5s ease;
    width: 340px;
}

.testeCarrosselLink:hover{
    transform: scale(1.04);
    transition: 0.2s;
}

.testeCarrossel{
    width: 340px;
    position: relative;
    border: 1px solid silver;
    padding: 6px;
    display: flex;
    box-shadow: 4px 4px 4px silver;
}

/* ------------------------- Comentário -------------------------*/

.comentarioLink{
    cursor: default;
    transition: 0.5s ease;
    width: 230px;
    height: 230px;
    margin-right: 24px;
}

.comentarioLink:hover{
    transform: scale(1.04);
    transition: 0.2s;
}

.comentario{
    width: 230px;
    height: 230px;
    padding: 6px;
    border: 1px solid silver;
    box-shadow: 4px 4px 4px silver;
    border-radius: 10px;
    position: relative;
    background-color: #eeeeee;
}

.comentario .divImg{
    background-image: url("../images/figuras/avatar.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 30px;
    min-height: 30px;
    margin-right: 6px;
    border-radius: 100%;
}

.comentario header{
    display: flex;
    align-items: center;
}

.comentario section{
    margin: 14px 0px;
}

.comentario .sectionEstrelas{
    display: flex;
    align-items: center;
}

.comentario .estrela{
    margin-right: 2px;
}

.comentario .dataEnvio{
    margin-left: 8px;
    color: gray;
}

.comentario .likes{
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding-left: 8px;
}

.comentario .qntdLikes{
    margin-left: 4px;
}

/* ------------------------- Perfil -------------------------*/

.perfilLink{
    cursor: pointer;
    transition: 0.5s ease;
    margin: 0px 20px;
}

.perfilLink:hover{
    transform: scale(1.04);
    transition: 0.2s;
}

.perfil{
    text-align: center;
    width: 170px;
    height: 220px;
    padding: 10px;
    border: 1px solid silver;
    box-shadow: 4px 4px 4px silver;
    border-radius: 10px;
    background-color: #eeeeee;
}

.perfil .divImg{
    background-image: url("../images/figuras/avatar.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin: 0 auto;
}

.perfil section{
    margin: 8px 0px;
}

.perfil .nomePessoa{
    font-weight: bold;
}

/* ------------------------- Carrossel Infinito -------------------------*/

.carrosselInfinito{  
    position: relative; 
    overflow: hidden;
}

.carrosselInfinito::before,
.carrosselInfinito::after{
    background: linear-gradient(to right, rgba(245,245,245,1) 0%, rgba(245,245,245,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 18%;
    z-index: 2;
}

.carrosselInfinito::before{
    left: 0;
    top: 0;
}

.carrosselInfinito::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.trilhaCarrossel{
    display: flex;
    align-items: center;
    width: calc(200px * 14); /*Para os elementos surgirem em loop precisamos multiplicar a quantidade de elementos totalda trilha pelo seu tamanho*/
    animation: scroll 40s linear infinite; /* animação infinita */
}

.trilhaCarrossel:hover{
    animation-play-state: paused;
}

@keyframes scroll{
    0%{
        transform: translate(0);
    }
    100%{
        transform: translateX(calc(-200px * 7)); /* os elementos caminharão na horizonal esquerda (devido ao sinal de menos). Multiplicamos o tamanho dos elementos pela metade da quantidade deles */
    }
}

.slide{
    width: 200px;
    display: flex;
    justify-content: center;
    margin: 0px 30px;
}

.slide img{
    transition: 0.5s ease;
}

.slide img:hover{
    transform: scale(1.2);
    transition: 0.2s;
}

.logoFatec{
    width: 150px;
    margin-top: 24px;
}

/* ------------------------- Footer -------------------------*/

footer{    
    margin-top: 100px;
    background-color: var(--laranja);
    padding: 40px;
}

footer a{
    color: whitesmoke;
    text-decoration: underline;
    font-weight: bold;
    margin-right: 30px;
}

footer p{
    color: whitesmoke;
    font-weight: bold;
    float: right;
}