#fieldsetAvalieNos{
    width: 500px;
    height: 500px;
}

#fieldsetNossoContato{
    width: 500px;
    height: 300px;

}

legend{
    text-align: left;
}

h3{
    font-size: 16pt;
}

.pergunta{
    font-size: 14pt;
}

input[type="radio"]{
    display: none;
}

.divEstrelas{
    margin-top: 12px;
}

.flexEstrelas{
    margin-top: 12px;
}

.estrela{
    width: 32px;
    margin: 0px 8px;
    transition: 0.2s ease;
}

#divTextAreaAvalieNos{
    margin: 30px 0px;
    height: 250px;
}

#btnAvaliar{    
    font-size: 14pt;
    width: 150px;
    height: 40px;
}

.enderecoContato{
    margin-left: 16px;
    font-size: 20pt;
}

.divContatos{
    display: grid;
    align-items: center;
    height: 100%;
}