.container{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: grid;
    place-items: center;
}

h1{
    font-size: 50pt;    
    margin-bottom: 6px;
}

p{
    font-size: 18pt;
}

a{
    margin-top: 20px;
}